.container{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    margin: 0 auto;
  

}

main{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;

}


.playerturn{

    font-size: 30px;
    margin-left: 5vw;
    font-family: 'Josefin Sans', sans-serif;
    transform: rotate(-5deg);
  
}

.turntext{
    font-size: 15px;
}

.title{
    font-size: 70px;
    color: white;
    margin-right: 30px;
    font-family: 'Modak', cursive;
    transform: rotate(-5deg);

}

.redText{
    color: darkred
}

.blueText{
    color: darkblue
}

.newGameButton{
    background-color: purple;
    margin-right: 40px;
}

.score{
    margin-left: 190px;
    color: white;
}

.gameOver{
    display: none;
}

.winning{
    background-color: green
}
