<main>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');
    </style>



<h1 class="title"> Tic Tac Toe </h1>
<br>


<div class="playerturn" 
[ngClass]= "{'blueText' : currentPlayerO, 'redText' : !currentPlayerO }"
*ngIf="!finishedGame">
  {{ currentPlayer() }}'s turn! </div>

<div class="playerturn" [ngClass]= "{'blueText' : !currentPlayerO, 'redText' : currentPlayerO }"
*ngIf="finishedGame"> {{ getLastPlayer() }} WINS! </div>  
  <br><br>



<div class="container">
<div class="main" *ngFor="let square of squares;
let i = index" 

(click)="selectSquare(i)">

<app-square class="defaultButton" [value]="square">


    
</app-square>
</div>
</div>

<br><br>
<button (click)="newGame()" class="btn btn-primary newGameButton">
New Game
</button>


</main>

