.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;


}

main{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center
}


