.container{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;


}

main{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    text-align: center;

}


.playerturn{

    font-size: 20px;
}

.turntext{
    font-size: 15px;
}

.title{
    font-size: 40px;
    font-family: 'Modak', cursive;

}

.redText{
    color: red
}

.blueText{
    color: blue
}

.newGameButton{
    background-color: purple
}