<main>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
        </style>



<h1 class="title"> Tic Tac Toe </h1>
<br>

<text class="playerturn" 
[ngClass]= 
"{'redText' : currentPlayerO,
  'blueText' : !currentPlayerO }"
>{{ currentPlayer() }}'s</text><text class="turntext"> TURN! </text>
<br><br>

<div class="container">
<div class="main" *ngFor="let square of squares;
let i = index" 

(click)="selectSquare(i)">

<app-square [value]="square">


    
</app-square>
</div>
</div>

<br>
<button (click)="newGame()" class="btn btn-primary newGameButton">
New Game
</button>


</main>

